* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

button,
label {
	user-select: none;
}

[hidden] {
	visibility: hidden;
}

// Text isn't properly centered on mobile for some reason,
// so use flex to fix it.
button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	visibility: hidden;
}
