.grid--canvas {
	grid-area: canvas;
}

.grid--controls {
	grid-area: controls;
}

.grid--tally {
	grid-area: tally;
}

.grid--config {
	grid-area: config;
}

.grid--players {
	grid-area: players;
}

.grid--controls,
.grid--tally,
.grid--config,
.grid--players {
	padding: 0 calc((100% - 20em) / 2);
}
