@use "../breakpoints";

$input-size: 8em;

.config__field {
	margin: 10px auto;
	display: flex;
	height: 1.5em;

	justify-content: start;

	input {
		display: block;
	}

	input[type="checkbox"] {
		height: 1em;
		margin: auto 0;
	}

	span,
	label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&--1 {
		@extend .config__field;

		button {
			width: 80%;
			margin: 0 auto;
		}
	}

	&--2 {
		@extend .config__field;

		:first-child {
			flex: 1;
			text-align: left;
			margin-right: 1em;
			font-size: 0.8em;

			@media only screen and (min-width: 400px) {
				font-size: 1em;
			}
		}

		:last-child {
			flex: none;
			width: $input-size;
			text-align: center;
		}

		select:last-child {
			// For some reason, the <select> element doesn't respect the provided width.
			// This ratio is required to make it have the desired width.
			width: $input-size * 5 / 4;
		}
	}

	&--select {
		height: 2em;

		select {
			min-height: 2em;
			font-size: 0.8em;
			padding: 0 5px;
		}
	}
}
