.config__field {
	margin: 10px auto;
	display: flex;
	height: 1.5em;

	justify-content: start;

	button,
	input {
		display: block;
	}

	input[type="checkbox"] {
		height: 1em;
		margin: auto 0;
	}

	span,
	label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&--1 {
		@extend .config__field;

		button {
			width: 80%;
			margin: 0 auto;
		}
	}

	&--2 {
		@extend .config__field;

		:last-child {
			flex: none;
			width: 4em;
			text-align: center;
		}

		:first-child {
			flex: 1;
			margin-right: 1em;
		}
	}
}
